body {
  height: 100vh;
  background: -webkit-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -o-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -moz-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}

main {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 30px;
}

img {
  width: 50px;
}

.carteira {
  padding-top: 40px;
}

.carteira img {
  width: 100px;
}

.carteira .dinheiro {
  margin-left: 30px;
}

section {
  margin-top: 84px;
  display: flex;
  justify-content: center;
}

.card img {
  position: relative;
  margin: 20px auto 10px;
}

section div,
footer button {
  margin: 0 20px;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
